<div data-id="{{message._id}}" class="row">
  <div class="username col">{{message.owner.username}}</div>
  <div class="w-100"></div>
  <div class="col-2">
    <button data-target="#updateMessageModal" class="col update-message" type="button" data-toggle="modal"><i class="fas fa-edit" data-id="{{message._id}}"></i></button>
    <button class="col delete-message"><i class="far fa-times-circle" data-id="{{message._id}}"></i></button>
  </div>
  <div class="chatMessage col-8">{{message.text}}</div>
</div>
